label {
  display: block;
  font-size: 0.8em;
  color: #666;
  margin-top: 0.5em;
  margin-left: 0.2em;
}

input {
  font: bold 0.8em Helvetica, Arial, sans-serif;
}

input[type=text] {
  font-size: 1.2em;
  font-weight: bold;
  width: 99%;
}

textarea {
  width: 99%;
  padding: 0.2em;
  font: 0.8em Menlo, Monaco, Courier, "Courier New", monospace;
}

input[type=submit] {
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  text-shadow: #fff 1px 1px 1px;
  background: #eee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#eee), to(#ccc));
  color: #333;
}

input[type=submit]:active {
  background: #ccc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#ccc), to(#eee));
}

input[type=submit].publish {
  background: #36f;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#36f), to(#039));
  text-shadow: #039 -1px -1px 1px;
  color: #fff;
  border-color: #039;
}

input[type=submit].publish:active {
  background: #039;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#039), to(#36f));
}

.commit {
  margin-top: 1em;
  color: #666;
  font-size: 0.8em;
}

a.delete {
  color: #a00;
}