body {
  margin: 0;
  background: #eee;
  color: #333;
  /* font: 1.2em Georgia, Times, "Times New Roman", serif; */
  font: 1.2em Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Palatino, Garamond, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

a {
  color: #000;
  background: #ff9;
}

a:hover {
  background: #ff6;
}

header,
#action-bar,
section,
footer {
  padding: 1em 3em;
}

/* Header */

header {
  background: #333;
  color: #eee;
  border-bottom: 1px solid #111;
}

header h1 {
  margin: 0;
  color: #999;
  font-weight: normal;
}

header h1 strong {
  color: #eee;
}

/* Action bar */

#action-bar {
  background: #ffc;
  border-bottom: 1px solid #dd9;
  color: #cc9;
}

#action-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

#action-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}

#action-bar li a {
  padding: 0.2em 0.5em;
  background: #fff;
  border: 1px solid #dd9;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  border-radius: 0.3em;
}

#action-bar li a:hover {
  background: #ff6;
  color: #333;
}

#action-bar li.ui-state-active a {
  background: none;
  color: #333;
  border-color: #996;
}

.ui-tabs-hide {
  display: none;
}

/* Page title */

#page-title {
  padding: 1em 3em;
  background: #ffe;
  border-bottom: 1px solid #eec;
}

#page-title h2 {
  margin: 0;
}

/* Section */

section {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

/* Post LI */

.post-li {
  margin-bottom: 0.2em;
}

.post-li .type {
  margin-right: 1em;
  color: #999;
}

.post-li .date {
  margin-left: 1em;
  color: #999;
}

/* Post */

.meta {
  color: #999;
}

/* Footer  */

footer {
  border-bottom: 0;
  color: #999;
}