body {
  margin: 2em;
  background: #eee;
  color: #333;
  /* font: 1.2em Georgia, Times, "Times New Roman", serif; */
  font: 1.2em Helvetica, Arial, sans-serif;
}

header,
section,
footer {
  padding: 1em;
}

a {
  color: #000;
  background: #ff9;
}

/* Header */

header h1 {
  margin: 0;
}

/* New Post */

#new-post {
  background: #ffc;
  padding: 1em;
  border: 1px solid #dd9;
  border-radius: 0.5em;
}

/* Section */

section {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

h2 {
  margin: 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #000;
}

/* Post LI */

.post-li {
  margin-bottom: 0.2em;
}

.post-li .type {
  display: inline-block;
  width: 100px;
  text-align: right;
  color: #999;
}

/* Footer  */

footer {
  border-bottom: 0;
  color: #999;
}