<article>
  <div class="quote">
    <div class="mark">&ldquo;</div>
    <div class="words"><%= raw textilize_without_paragraph post.content %></div>
    <div class="quoted">&mdash;<%= link_to post.description, post %></div>
  </div>
</article>