<article>
  <div class="video">
    <div class="mark">&nbsp;&otimes;</div>
    <%= raw post.content %>
    <div class="words">
      <%= raw textilize post.description %>
      <p>(<%= link_to "permalink", revealled_url(post) %>)</p>
    </div>
  </div>
</article>