<% content_for :title do %>
  <h2>Listing all pages</h2>
<% end %>

<% @posts.each do |post| %>
  <div class="post-li">
    <span class="type"><%= post.feather.humanize %>:</span> <%= link_to post.title, post %>
  </div>
<% end %>

<% if @posts.length < 1 %>
  <p><em>Sorry, no posts could be found.</em></p>
<% end %>

<% content_for :actions do %>
  <div id="links">
    <%= link_to "Create new post", "#", :id => "new-post-show" %>
  </div>
  <%= render :partial => "shared/new_post" %>
<% end %>