<!DOCTYPE html>

<html>
  <head>
    <title>Quack</title>
    <%= stylesheet_link_tag "screen" %>
  </head>
  <body>
    <header>
      <h1>Quack</h1>
    </header>
    
    <section>
      <%= yield %>
    </section>
    
    <footer>
      &copy;2010 Sail Fast
    </footer>
  </body>
</html>